<template>
  <div>
    <div class="title">{{ example.title }}</div>
    <div class="code">
      <pre v-highlightjs="example.content"><code class="json">{{ example.content }}</code></pre>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CodeBlock',
  props: ['example'],
  watch: {
    example: function () {
      window.scrollTo(1, 0)
    }
  }
}
</script>

<style>
.title {
  background: #393c3e;
  padding: 10px;
  color: #FFF;
  font-weight: 600;
}

.code {
  margin-bottom: 20px;
}

.code code {
  padding: 10px;
}

pre, code {
  margin: 0;
  padding: 0;
  overflow: auto;
}

pre {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
}

code::-webkit-scrollbar
{
	height: 6px;
}

code::-webkit-scrollbar-thumb
{
	background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}
</style>