<template>
  <div class="url">
    <span>{{ type }}</span><a class="endpointRoot">api.trappan.nu</a>{{ name }}
    <Versions
      :version="version"
      :versions="versions"
      @versionChange="versionChange"></Versions>
  </div>
</template>

<script>
import Versions from './Versions'

export default {
  name: 'Endpoint',
  props: ['type', 'name', 'version', 'versions'],
  components: {
    Versions
  },
  methods: {
    versionChange: function (index) {
      this.$emit('versionChange', index)
    }
  }
}
</script>

<style scoped>
.url {
  background: #393c3e;
  height: 40px;
  font-weight: 400;
  color: #FFF;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
  position: relative;
}

span {
  background: #ec8712;
  display: inline-block;
  line-height: 40px;
  width: 70px;
  text-align: center;
  height: 40px;
  margin-right: 10px;
  font-size: 14px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
}

.endpointRoot {
  opacity: 0.4;
  user-select: none;
  cursor: default;
}
</style>