<template>
  <div class="infoTable">
    <h2>{{ title }}</h2>
    <table>
      <thead>
        <tr>
          <td class="field">Field</td>
          <td>Description</td>
        </tr>
      </thead>
      <tbody>
        <template v-for="(field, index) in compareFields">
          <tr v-if="!findField(field.field, fields)" class="added" title="Field added in newer version">
            <td class="field" v-html="indent(field.field)"></td>
            <td v-html="format(field.description)"></td>
          </tr>
        </template>
        <tr
          v-for="(field, index) in fields"
          :class="{deprecated: !findField(field.field, compareFields)}"
          :title="removedTitle(!findField(field.field, compareFields))">
            <td class="field" v-html="indent(field.field)"></td>
            <td v-html="format(field.description)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'InfoTable',
  props: ['title', 'fields', 'compareFields'],
  methods: {
    indent: function (text) {
      return text.replace(/\w+\./g, '<div class="indent"></div>')
    },
    format: function (text) {
      return text.replace('(optional)', '<i>(optional)</i>')
    },
    findField: function (fieldTitle, fields) {
      for (let i = 0; i < fields.length; i++)
        if (fields[i].field === fieldTitle)
          return true

      return false
    },
    removedTitle: function (show) {
      if (show)
        return 'Field removed in newer version'

      return ''
    }
  }
}
</script>

<style>
.infoTable {
   margin-bottom: 20px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

table {
  width: 100%;
  line-height: 25px;
  font-weight: 400;
  border-spacing: 0;
  border-collapse: separate;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
}

thead {
  font-weight: 600;
  background: #393c3e;
  color: #FFF;
}

.field {
  width: 30%;
}

tbody td {
  border: 0 solid rgba(0, 0, 0, 0.1);
  border-left-width: 1px;
  border-top-width: 1px;
}

td {
  padding: 7px 10px;
}

  td p {
    margin: 0;
    padding: 0;
  }

  .indent {
    width: 15px;
    height: 1px;
    display: inline-block;

  }

tbody td:last-child {
  border-right-width: 1px;
}

tbody tr:last-child td {
  border-bottom-width: 1px;
}

.deprecated {
  background: #ffe2e2;
  cursor: help;
}

.added {
  background: #e2ffe2;
  cursor: help;
}
</style>