<template>
  <div>
    <div class="versions">
      <div :style="{marginTop: margin}">
        <span
          v-for="(version, index) in versions"
          :class="{active: activeIndex === index}"
          @click="selectVersion(index)">
            v{{ version }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Versions',
  props: ['version', 'versions'],
  data () {
    return {
      activeIndex: this.version,
      margin: 0
    }
  },
  methods: {
    selectVersion: function (index) {
      this.$emit('versionChange', index)

      this.activeIndex = index
      this.margin = -40 * index + 'px'
    }
  },
  watch: {
    versions: function () {
      this.activeIndex = 0
      this.margin = 0
    }
  }
}
</script>

<style scoped>
.versions {
  right: 0;
  top: 0;
  width: 90px;
  position: absolute;
  margin: 0;
  height: 40px;
  overflow: hidden;
}

.versions:hover {
  overflow: inherit;
}

.versions span {
  display: inline-block;
  line-height: 40px;
  width: 70px;
  text-align: center;
  height: 40px;
  font-size: 14px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  width: 100%;
  background: #393c3e;
  text-transform: none;
  cursor: default;
  user-select: none;
}

.versions span:not(.active) {
  cursor: pointer;
}

.versions span:nth-child(2n) {
  background: #4d5052;
}

.versions span.active,
.versions span:hover {
  background: #34b398;
}

.versions span.active {
  font-weight: 600;
}
</style>