<template>
  <div>
    <li>{{ title }}</li>
    <li>
      <ul>
        <a v-for="[url, endpoint] in endpoints"
          @click="changeUrl($event)"
          :href="getUrl(endpoint.url)"
          :class="{active: ($store.state.url === getUrl(endpoint.url))}">
            <li>- &nbsp;{{ endpoint.title }}</li>
        </a>
        <ul v-for="[title, list] in folders">
          <SideMenuList :title="title" :list="list"></SideMenuList>
        </ul>
      </ul>
    </li>
  </div>
</template>

<script>
export default {
  name: 'SideMenuList',
  props: ['title', 'list', 'url'],
  computed: {
    folders: function () {
      let endpoints = this.list
      endpoints.delete('_endpoints')

      return Array.from(endpoints)
    },
    endpoints: function () {
      let endpoints = this.list.get('_endpoints') || {}
      return Array.from(endpoints)
    }
  },
  methods: {
    getUrl: function (url) {
      return '#' + url.split('(')[0].split(':')[0]
    },
    changeUrl: function (event) {
      this.$store.commit('changeUrl', '#' + event.currentTarget.href.split('#')[1])
    }
  }
}
</script>

<style scoped>
ul li {
  padding: 6px 15px;
  margin: 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
}

li > ul li  {
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}

ul i {
  vertical-align: top;
  margin-right: 10px;
}

a:hover li,
.active li {
  color: #f99929;
  border-left-color: #f99929;
}

li[data-sub="2"] {
  padding-left: 30px !important;
}

li[data-sub="3"] {
  padding-left: 50px !important;
}

li[data-sub="4"] {
  padding-left: 70px !important;
}
</style>