<template>
  <div id="wrapper" v-if="info">
    <h1>
      <template v-for="group in info.group">{{ group }} &#155; </template>
      {{ info.title }}
    </h1>
    <div v-html="info.description"></div>
    <Endpoint
      :type="info.type"
      :name="info.url"
      :version="visibleVersion"
      :versions="versions"
      @versionChange="changeVersion"></Endpoint>

    <hr>

    <InfoTable
      v-if="info.header"
      title="Headers"
      :fields="info.header.fields.Header"
      :compareFields="latest.header.fields.Header"></InfoTable>
    <InfoTable
      v-if="info.parameter"
      title="Parameters"
      :fields="info.parameter.fields.Parameter"
      :compareFields="latest.parameter.fields.Parameter"></InfoTable>
    <InfoTable
      v-if="info.success.fields"
      title="Response data"
      :fields="info.success.fields['Success 200']"
      :compareFields="latest.success.fields['Success 200']"></InfoTable>

    <template v-if="info.success.examples">
      <hr>

      <h2>Examples</h2>
      <CodeBlock v-for="example in info.success.examples" :example="example"></CodeBlock>
    </template>
  </div>
</template>

<script>
import Endpoint from './info/Endpoint'
import InfoTable from './info/InfoTable'
import CodeBlock from './info/CodeBlock'

export default {
  name: 'Info',
  components: {
    Endpoint,
    InfoTable,
    CodeBlock
  },
  props: ['endpoints', 'url'],
  data () {
    return {
      visibleVersion: 0
    }
  },
  computed: {
    endpoint: function () {
      let versions = []

      for (let i = 0; i < this.endpoints.length; i++)
        if (this.getUrl(this.endpoints[i].url) === this.getHash(this.url))
          versions.push(this.endpoints[i])

      if (!versions.length)
        return null

      if (!Array.isArray(versions[0].group))
        for (let i = 0; i < versions.length; i++)
          versions[i].group = versions[i].group.replace(/^_+/g, '').split('_')

      return versions
    },
    info: function () {
      let versions = this.endpoint

      if (versions)
        return versions[this.visibleVersion]

      return null
    },
    versions: function () {
      let versions = []

      this.endpoint.forEach((endpoint) => {
        versions.push(endpoint.version)
      })

      return versions
    },
    latest: function () {
      if (this.endpoint)
        return this.endpoint[0]

      return {}
    }
  },
  methods: {
    getUrl: function (url) {
      return '#' + url.split('(')[0].split(':')[0]
    },
    getHash: function (url) {
      return '#' + url.split('#')[1]
    },
    changeVersion: function (index) {
      this.visibleVersion = index
    }
  },
  watch: {
    url: function () {
      this.visibleVersion = 0
    }
  }
}
</script>

<style>
h1 {
  margin: 0 0 20px 0;
  font-size: 27px;
  font-weight: 600;
}
</style>