<template>
  <div id="logo">
    <img src="https://personal.trappan.nu/img/logo2.png">
  </div>
</template>

<script>
export default {
  name: 'Logo'
}
</script>

<style>
#logo {
  height: 140px;
  padding: 50px 90px;
  background: #f99929;
}

img {
  width: 100%;
  margin: auto;
  display: block;
}
</style>