<template>
  <div id="searchMenu">
    <input type="text" v-model="query" @input="$emit('search', query)" placeholder="What are you looking for?">
  </div>
</template>

<script>
export default {
  name: 'SearchMenu',
  data: function () {
    return {
      query: null
    }
  }
}
</script>

<style>
#searchMenu {
  background: #ec8712;
}

input {
  width: 100%;
  height: 60px;
  background: none;
  border: 0;
  padding: 20px;
  color: #FFF;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open sans';
  font-weight: 400;
}
</style>