<template>
  <div id="sidemenu">
    <Logo></Logo>
    <SearchMenu @search="(val) => query = val"></SearchMenu>
    <ul id="root">
      <SideMenuList
        v-for="[title, list] in endpointsList"
        :key="title"
        :title="title"
        :list="list"></SideMenuList>
    </ul>
  </div>
</template>

<script>
import Logo from './Logo'
import SearchMenu from './SearchMenu'
import SideMenuList from './sidemenu/SideMenuList'

export default {
  name: 'SideMenu',
  components: {
    Logo,
    SearchMenu,
    SideMenuList
  },
  props: ['endpoints', 'url'],
  data: function () {
    return {
      query: null
    }
  },
  computed: {
    endpointsList: function () {
      let endpoints = this.endpoints
      let data = new Map()

      endpoints.forEach((endpoint) => {
        let subgroups = endpoint.group
        if (!Array.isArray(subgroups))
          subgroups = endpoint.group.split('_')

        let show = false
        subgroups.forEach((subgroup) => {
          if (!this.query || subgroup.match(new RegExp('.*' + this.query + '.*', 'i')))
            show = true
        })

        if (!show && this.query && !endpoint.title.match(new RegExp('.*' + this.query + '.*', 'i')))
          return

        let endpointSlot = data

        subgroups.forEach((subgroup) => {
          if (subgroup.length === 0)
            return

          if (!endpointSlot.has(subgroup))
            endpointSlot.set(subgroup, new Map())

          endpointSlot = endpointSlot.get(subgroup)
        })

        if (!endpointSlot.has('_endpoints'))
          endpointSlot.set('_endpoints', new Map())

        endpointSlot.get('_endpoints').set(endpoint.url, endpoint)
      })

      return Array.from(data)
    }
  }
}
</script>

<style>

#sidemenu {
  background: #393c3e;
  width: 320px;
  height: 100vh;
  position: fixed;
}

#sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidemenu ul#root {
  margin: 15px 10px 15px 5px;
  overflow: auto;
  height: calc(100vh - 240px)
}

#root::-webkit-scrollbar
{
	width: 6px;
}

#root::-webkit-scrollbar-thumb
{
	background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
</style>