<template>
  <div>
    <SideMenu :endpoints="endpointsRaw"></SideMenu>
    <Info :endpoints="endpointsRaw" :url="$store.state.url"></Info>
  </div>
</template>

<script>
import 'normalize.css'
import axios from 'axios'

import SideMenu from './components/SideMenu'
import Info from './components/Info'

export default {
  name: 'app',
  components: {
    SideMenu,
    Info
  },
  data () {
    return {
      endpointsRaw: []
    }
  },
  created () {
    axios.get('api_data.json')
      .then((response) => {
        let array = response.data
        this.endpointsRaw = array
      })
  },
  watch: {
    endpointsRaw: function () {
      if (!this.endpointsRaw)
        return

      if (!window.location.hash)
        window.location.hash = this.$store.state.url = '#' + this.endpointsRaw[0].url
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  padding: 0;
  margin: 0;
  font-family: 'Open sans';
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: inherit;
}

hr {
  border: none;
  border-bottom: 1px solid #e3e9eb;
  margin: 20px 0;
}

#wrapper {
  margin-left: 320px;
  max-width: 1100px;
  width: calc(100% - 320px);
  padding: 20px;
  font-size: 15px;
}
</style>